.title {
    font-weight: 400;
    color: var(--green0);
}

.body1 {
    font-size: 2rem;
    font-family: var(--text);
    color: var(--green0);
}

.body {
    font-size: 2rem;
    font-family: var(--text);
    color: var(--green1);
}

.priceshow {
    font-size: 1, 5rem;
    font-family: var(--text);
    color: var(--green2);
}

.autore {
    font-size: 1rem;
    font-family: var(--text);
    color: var(--yellow1);
}
.show-card{
    background-color: var(--green2);
    border-radius: 50px;
    margin-top: 20px;
    border: 10px solid var(--green1);
}
.img-d{
    height: auto;
}